* {
    margin: 0;
    padding: 0
}

body {
    background-color: #000
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}

/* hello */

/* <html><head></head><body>@import url(https://fonts.googleapis.com/css?family=Roboto:300);
 *, *:after, *:before {
	 box-sizing: border-box;
} */
 body {
	 background: #cef;
}
 .container {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 90vh;
}
 .widget {
	 background: linear-gradient(to bottom right, #3cc0fe 20%, #06f);
	 width: 900px;
	 height: 500px;
	 border-radius: 6px;
	 box-shadow: 0px 60px 80px -20px rgba(39, 165, 253, 0.4);
	 position: relative;
	 overflow: hidden;
}
 .pictoBackdrop {
	 position: absolute;
	 height: 560px;
	 width: 560px;
	 border-radius: 50%;
	 background: linear-gradient(160deg, rgba(60, 192, 254, 0.7) 40%, rgba(0, 102, 255, 0.6));
	 right: -40px;
	 top: -90px;
}
 .pictoFrame {
	 position: absolute;
	 background: #34373e;
	 border-radius: 50%;
	 box-shadow: 0px 50px 60px -20px #06f;
	 height: 336px;
	 width: 336px;
	 right: 80px;
	 top: 25px;
}
 .pictoCloudBig {
	 position: absolute;
	 border-radius: 50%;
	 background: #aacbe6;
	 box-shadow: 20px 20px 80px -20px #aacbe6;
	 height: 218.4px;
	 width: 218.4px;
	 top: 80px;
	 right: 160px;
}
 .pictoCloudFill {
	 position: absolute;
	 background: #aacbe6;
	 box-shadow: 0px 20px 80px -20px #aacbe6;
	 height: 107.016px;
	 width: 107.016px;
	 top: 191px;
	 right: 265px;
}
 .pictoCloudSmall {
	 position: absolute;
	 border-radius: 50%;
	 background: #d2e9fa;
	 height: 152.88px;
	 width: 152.88px;
	 top: 146px;
	 right: 282px;
}
 .iconCloudBig {
	 position: absolute;
	 border-radius: 50%;
	 background: #9cd0ff;
	 height: 36px;
	 width: 36px;
	 top: 200px;
	 left: 80px;
}
 .iconCloudSmall {
	 position: absolute;
	 border-radius: 50%;
	 height: 23.4px;
	 width: 23.4px;
	 background: #d2e9fa;
	 top: 213px;
	 left: 70px;
}
 .iconCloudFill {
	 position: absolute;
	 height: 16.38px;
	 width: 16.38px;
	 background: #9cd0ff;
	 top: 220px;
	 left: 80px;
}
 .details {
	 font-family: Roboto, sans-serif;
	 display: flex;
	 flex-direction: column;
	 margin-top: 30px;
	 margin-left: 60px;
}
 .temperature {
	 color: white;
	 font-weight: 300;
	 font-size: 6em;
}
 .summary {
	 color: #d2e9fa;
	 font-size: 2em;
	 font-weight: 300;
	 width: 260px;
	 margin-top: -16px;
	 padding-bottom: 16px;
	 border-bottom: 2px solid #9cd0ff;
	 margin-left: 8px;
}
 .summaryText {
	 margin: 0;
	 margin-left: 56px;
}
 .precipitation, .wind {
	 color: #d2e9fa;
	 font-size: 1.6em;
	 font-weight: 300;
	 margin-left: 8px;
}
 .precipitation {
	 margin-top: 16px;
}
 .wind {
	 margin-top: 4px;
}
 /* </body></html> */